h1 {
  color: blue;
  background-color: crimson;
  text-align: center;
}

h2 {
  color: darkgreen;
  background-color: gold;
  text-align: center;
}

p {
  font-size: 20px;
  color: fuchsia;
  background-color: lightseagreen;
  text-align: center;
}

li {
  font-size: 15px;
  color: darkblue;
  background-color: lawngreen;
}